body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#about {
  background-color: #8cd699;
  height: 50vh;
}

#team {
  display: flex;
  justify-content: center;
  align-items: center;
}
