#footer {
  background-color: #030303;
  color: #f3f3f3;
  height: 20vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#footer a:link {
  text-decoration: none;
}

#subfooter {
  color: #666666;
}
