#register {
  display: flex;
  justify-content: center;
  align-self: center;
}

#register form {
  position: absolute;
  flex-direction: column;
  border: 5px solid #ccc;
  width: 500px;
  background-color: #8cd699;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 10px #12253a;
}

.form-text {
  display: flex;
  flex-direction: column;
}

.form-dropdown {
  display: flex;
  flex-direction: column;
}

.form-submit input {
  display: block;
  margin: 20px auto 10px auto;
  color: #ffe431;
  background-color: #d44a61;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 150px;
  font-weight: bold;
  transition: 0.3s;
}

.form-submit input:hover {
  opacity: 0.7;
  cursor: pointer;
}
