body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#reviews {
  background-color: #3d7ca9;
  height: 50vh;
}

#review-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 2em;
  margin: 0 50px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
