#review {
  background-color: white;
  display: grid;
  grid-template-areas:
    ". . name pic"
    ". . rating pic"
    ". . . ."
    "desc desc desc desc"
    "desc desc desc desc";
  flex-shrink: 0;
  min-width: 310px;
  width: 30vw;
  border-radius: 20px;
  justify-content: end;
  height: 200px;
}

.review-picture {
  grid-area: pic;
  min-height: 80px;
  height: 5vh;
}

.review-name {
  grid-area: name;
  margin-top: 5px;
  margin-right: 10px;
}

.review-rating {
  grid-area: rating;
  margin-right: 10px;
  color: orange;
}

.review-description {
  grid-area: desc;
  margin: 10px;
  overflow: auto;
}

/* desktop view */
@media only screen and (min-width: 768px) {
  #review {
    width: 15vw;
  }
}
