#review {
  background-color: white;
  display: grid;
  grid-template-areas:
    ". . name pic "
    ". . rating pic "
    "desc desc desc desc";
  flex-shrink: 0;
  min-width: 300px;
  width: 30vw;
  border-radius: 10px;
  justify-content: end;
}

.review-picture {
  height: 5vh;
  grid-area: pic;
}

.review-name {
  grid-area: name;
  padding: 1px;
}

.review-rating {
  grid-area: rating;
  padding: 1px;
  color: orange;
}

.review-description {
  grid-area: desc;
  padding: 5px;
}

/* desktop view */
@media only screen and (min-width: 768px) {
  #review {
    width: 15vw;
  }
}
