#review {
  background-color: white;
  display: grid;
  grid-template-areas:
    "pic name"
    "pic rating"
    "desc desc";
  flex-shrink: 0;
  width: 40vw;
}

.review-picture {
  height: 10vh;
  grid-area: pic;
}

.review-name {
  grid-area: name;
}

.review-rating {
  grid-area: rating;
}

.review-description {
  grid-area: desc;
}
